# 实习二：数据库约束设计
___

## 组员：陈萧白，凤大骅，万承志

本次实习需要完成部门和职员表的约束设计，以及滑动窗口模拟的触发器设计。我们先连接数据库，然后依次完成练习。

In [3]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%sql mysql://stu2000012926:stu2000012926@162.105.146.37:43306
%sql use stu2000012926;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.

[]

In [4]:
%%sql
show tables;

 * mysql://stu2000012926:***@162.105.146.37:43306
13 rows affected.

[('Dynamic_state_tb',),
 ('broadcasting_room_tb',),
 ('bullet_comment_tb',),
 ('comment_tb',),
 ('department',),
 ('employees',),
 ('follow_tb',),
 ('gift_tb',),
 ('gifts_record_tb',),
 ('like_Dstate_tb',),
 ('msg_tb',),
 ('user_tb',),
 ('users_in_broom_tb',)]

## 练习一：约束设计
---
根据练习要求，我们建立职员表与部门表如下：

In [5]:
%%sql
# 职员表
set foreign_key_checks=0;

drop table if exists employees;

CREATE TABLE employees (
    eno INT UNSIGNED PRIMARY KEY,
    ename VARCHAR(10) NOT NULL,
    dno INT UNSIGNED NOT NULL,
    salary INT UNSIGNED NOT NULL,
    level INT UNSIGNED NOT NULL,
    email VARCHAR(32),
    CHECK(email REGEXP'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$')
);

set foreign_key_checks=1;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql
# 部门表
set foreign_key_checks=0;

drop table if exists department;

CREATE TABLE department (
    dno INT UNSIGNED PRIMARY KEY,
    dname enum('销售部','财务部','人事部'),
    manager INT UNSIGNED NOT NULL,
    budget INT UNSIGNED NOT NULL
);

set foreign_key_checks=1;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
# 设置约束
set foreign_key_checks=0;

drop function if exists dno_salary_sum;
create function dno_salary_sum(dno INT UNSIGNED) returns INT UNSIGNED
begin
    return (
        SELECT SUM(salary) FROM employees WHERE employees.dno = dno
    );
end;

alter table employees add constraint fk_dno foreign key(dno) references department(dno);
alter table department add constraint fk_manager foreign key(manager) references employees(eno);
alter table employees add constraint chk_salary check(
    (1<=level<=5) and (1000*level <= salary < 1000*level+1000)
);
alter table department add constraint chk_budget check(
    budget >= dno_salary_sum(dno)
);

set foreign_key_checks=1;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
(pymysql.err.OperationalError) (3814, "An expression of a check constraint 'chk_budget' contains disallowed function: `dno_salary_sum`.")
[SQL: alter table department add constraint chk_budget check(
    budget >= dno_salary_sum(dno)
);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

创建完成后，插入数据如下：

In [8]:
%%sql
set foreign_key_checks=0;

INSERT INTO employees VALUES (1,'1号员工',1,1100,1,'123@qq.com');
INSERT INTO employees VALUES (2,'2号员工',1,2200,2,'123@qq.com');

INSERT INTO department VALUES (1,'销售部',2,5000);

set foreign_key_checks=1;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.

[]

In [9]:
%%sql
SELECT * FROM employees

 * mysql://stu2000012926:***@162.105.146.37:43306
2 rows affected.

[(1, '1号员工', 1, 1100, 1, '123@qq.com'), (2, '2号员工', 1, 2200, 2, '123@qq.com')]

In [10]:
%%sql
SELECT * FROM department

 * mysql://stu2000012926:***@162.105.146.37:43306
1 rows affected.

[(1, '销售部', 2, 5000)]

## 练习二：触发器设计
---  
先建立需要的表：

In [11]:
%%sql

DROP TABLE if EXISTS originData;
DROP TABLE if EXISTS sum_slidingWin;
DROP TABLE if EXISTS max_slidingWin;
DROP TABLE if EXISTS aggResult;

CREATE TABLE originData 
(
    id int AUTO_INCREMENT PRIMARY KEY,
    value int NOT NULL
);

CREATE TABLE sum_slidingWin (id int PRIMARY KEY, value int NOT NULL);

CREATE TABLE max_slidingWin(id int PRIMARY KEY, value int NOT NULL);

CREATE TABLE aggResult(sumRes int NOT NULL, maxRes int NOT NULL);

INSERT INTO aggResult VALUES (0, 0);

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[]

**1. 建立维护sum_slidingWin表和max_slidingWin表的触发器**

In [16]:
%%sql
DROP TRIGGER if EXISTS sum_slidingWin_update;
DROP TRIGGER if EXISTS max_slidingWin_update;

CREATE TRIGGER sum_slidingWin_update
AFTER
INSERT
    ON originData FOR EACH ROW BEGIN 

INSERT INTO
    sum_slidingWin (id, value)
VALUES
    (NEW.id, NEW.value);

DELETE FROM
    sum_slidingWin
WHERE
    id <= (
        SELECT
            id
        FROM
            sum_slidingWin
        ORDER BY
            id DESC
        LIMIT
            1 OFFSET 50
    );

END;

CREATE TRIGGER max_slidingWin_update
AFTER
INSERT
    ON originData FOR EACH ROW BEGIN 

INSERT INTO
    max_slidingWin (id, value)
VALUES
    (NEW.id, NEW.value);

DELETE FROM
    max_slidingWin
WHERE
    id <= (
        SELECT
            id
        FROM
            max_slidingWin
        ORDER BY
            id DESC
        LIMIT
            1 OFFSET 50
    );

END;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

**2. 更新aggResult表的触发器**

In [ ]:
%%sql
DROP TRIGGER if EXISTS aggResult_update;

CREATE TRIGGER aggResult_update
AFTER
INSERT
    ON originData FOR EACH ROW BEGIN 
INSERT INTO
    aggResult
VALUES
    (
        (
            SELECT
                SUM(value)
            FROM
                sum_slidingWin
        ),
        (
            SELECT
                MAX(value)
            FROM
                max_slidingWin
        )
    );

END;

**3. 使用单调队列维护max_slidingWin表**

In [ ]:
%%sql

DROP TRIGGER if EXISTS max_slidingWin_update_opt;

CREATE TRIGGER max_slidingWin_update_opt
AFTER
INSERT
    ON originData FOR EACH ROW BEGIN 
-- 删除max_slidingWin表中队头不在窗口内的数据
DELETE FROM
    max_slidingWin
WHERE
    id <= NEW.id - 50;

-- 删除max_slidingWin表中队尾小于新插入数据的数据
DELETE FROM
    max_slidingWin
WHERE
    value < NEW.value;

-- 将新插入的数据添加到max_slidingWin表中
INSERT INTO
    max_slidingWin (id, value)
VALUES
    (NEW.id, NEW.value);

END;